name: Build

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.102'

      - name: NuGet cache
        uses: actions/cache@v1
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('.config/dotnet-tools.json') }}-${{ hashFiles('*.lock') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Build
        run: |
          ./build.sh
          echo "::set-env name=RELEASE_TAG::v$(dotnet nbgv get-version -v SemVer2)"
          echo "::set-env name=RELEASE_TITLE::Version $(dotnet nbgv get-version -v MajorMinorVersion)"

      - name: Upload nupkg
        uses: actions/upload-artifact@v1
        with:
          name: nuget
          path: bin/nuget

      - name: Create tag
        uses: tvdias/github-tagger@v0.0.1
        if: ${{ ! contains(env.RELEASE_TAG, '-') }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.RELEASE_TAG }}

      - name: Create draft release
        uses: Roang-zero1/github-create-release-action@master
        if: ${{ ! contains(env.RELEASE_TAG, '-') }}
        with:
          created_tag: ${{ env.RELEASE_TAG }}
          create_draft: true
          update_existing: true
          release_title: ${{ env.RELEASE_TITLE }}
          changelog_heading: h2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}