name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Download nupkg
        run: |
          runs_url = "https://api.github.com/repos/${{github.repository}}/actions/workflows/build.yml/runs"
          run_id = $(curl -s -H "Accept: application/vnd.github.antiope-preview+json" "$runs_url" \
            | jq '.workflow_runs[] | select(.head_sha == "${{github.sha}}").id')

          artifacts_url = "https://api.github.com/repos/${{github.repository}}/actions/runs/$run_id/artifacts"
          artifact_id = $(curl -s -H 'Accept: application/vnd.github.antiope-preview+json' \
            | jq '.artifacts[0].id')

          artifact_url = "https://${{secrets.GITHUB_PAT}}@api.github.com/repos/${{github.repository}}/actions/artifacts/$artifact_id/zip"
          curl -L -o nuget.zip "$artifact_url"
          unzip nuget.zip -d nuget

      - name: Push to GitHub release
        uses: svenstaro/upload-release-action@1.1.0
        with:
          tag: ${{github.ref}}
          repo_token: ${{secrets.GITHUB_TOKEN}}
          file_glob: 'true'
          file: nuget/*.nupkg

      - name: Push to NuGet
        run: dotnet nuget push nuget/*.nupkg
               --api-key ${{secrets.NUGET_API_KEY}}
               --source https://api.nuget.org/v3/index.json
               --skip-duplicate